# This is Git's per-user configuration file.
#[user]
# Please adapt and uncomment the following lines:
#	name = Miguel García
#	email = contacto@alejandrohub.dev
#[includeIf "gitdir:~/Documents/BBVA/"]
[includeIf "hasconfig:remote.*.url:ssh://git@globaldevtools.bbva.com:*/**"]
	path = ~/.gitconfig-bbva
[includeIf "hasconfig:remote.*.url:git@github.com*/**"]
	path = ~/.gitconfig-personal
[includeIf "hasconfig:remote.*.url:https://github.com*/**"]
	path = ~/.gitconfig-personal
[includeIf "hasconfig:remote.*.url:git@gitlab.com*/**"]
	path = ~/.gitconfig-personal
[includeIf "hasconfig:remote.*.url:https://gitlab.com*/**"]
	path = ~/.gitconfig-personal
